#page *{
    margin: 0px;
}

::selection {
    background-color: #ee0000;
    
    
}

#page{
    /*border: #000000;
    border-style: solid;
    border-width: 10px;*/
    height:100%;
    width: 100%;
    background-color: #00ff00;
}


